#root {
  font-family: "Roboto", sans-serif;
  background-color: #050301;
  min-height: 100vh;
}
.hidden {
  display: none;
}

body {
  background-color: #050301;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 5px;
  background-color: #050301;
  border-radius: 20px;
}
a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #c0c0c0;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
}
p {
  font-family: "Roboto", sans-serif;
  color: #c0c0c0;
  line-height: 120%;
}
h1 {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  color: #c0c0c0;
}
h2 {
  color: #f9f6e8;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
header {
  padding: 20px 0px;
  background-color: #050301;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 30px;
}
header a:hover {
  color: #dbdbdb;
  transition: all 0.3s ease;
}
header input:focus {
  outline: none;
}
.logo {
  width: 150px;
}
header img {
  width: 100%;
}
.banner {
  border-radius: 10px;
  background-image: url("./assets/img/comics-pic.jpg");
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 300px;
  margin: auto;
}
nav {
  display: flex;
  gap: 20px;
  width: 50%;
  align-items: center;
}
.bottom-nav {
  display: flex;
  justify-content: space-between;
}
.bottom-nav input {
  width: 40%;
  height: 30px;
  padding: 5px 5px 5px 20px;
  background-color: rgba(39, 37, 66, 0.7);
  border: none;
  font-size: 20px;
  border-radius: 2px;
  color: #c0c0c0;
}

.hero-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.heart-plus-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f9f6e8;
  background-color: rgba(5, 3, 1, 0.9);
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.heroes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.heroes-container p {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  width: 240px;
}
.heroes-container h2 {
  margin: 10px 0px;
  text-align: center;
}
figure {
  width: 240px;
  height: 290px;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 30px;
}
.comics-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 50px;
}
.heroes-identity {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.heroes-identity h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.heroes-identity p {
  font-size: 18px;
  line-height: 130%;
  text-align: justify;
}
.id-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.id-picture img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: #911f1f 5px solid;
  object-fit: cover;
}
.details-id {
  width: 50%;
}
.details-id button {
  background-color: #050301;
  border: none;
  color: #016db5;
  border-bottom: #016db5 solid 1px;
  font-size: 18px;
  font-family: "Open Sans";
  padding: 3px;
  margin-top: 20px;
}
.pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 20px;
}
.empty-div {
  width: 30px;
}
.connexion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.connexion-links {
  color: white;
}
header button {
  background-color: #050301;
  border: none;
  padding: 8px 1px;
  color: white;
  font-size: 21px;
  cursor: pointer;
}
.connexion-links {
  display: flex;
  gap: 50px;
}
.arrow {
  cursor: pointer;
}
.details-id button {
  cursor: pointer;
}
.border-bottom {
  border: none;
  border-bottom: #c0c0c0 1px solid;
}
.fav-images {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.favorites-section {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
.favorites-section button {
  background-color: #050301;
  color: #016db5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border: none;
}
.fav-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  margin-top: 50px;
  align-items: baseline;
}

.fav-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;
  align-items: center;
  gap: 10px;
}
.image-container {
  height: 200px;
}
.favorites-section h2 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.purple {
  border: solid 7px #4d0e33;
}
.blue {
  border: solid 7px #272542;
}

.hero-title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #272542 3px solid;
}
.comics-title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #4d0e33 3px solid;
}
title {
  display: flex;
  flex-direction: column;
}
.favorites-section h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  font-size: 30px;
  letter-spacing: 2px;
  font-style: italic;
  color: #f9f6e8;
  padding-bottom: 20px;
  border-bottom: #272542 1px solid;
}
.signup {
  border: 2px solid #f9f6e8;
  border-radius: 15px;
  padding: 20px 10px 10px 10px;
  max-width: 550px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
.signup h1:hover {
  color: #f9f6e8;
}
form {
  display: flex;
  flex-direction: column;
  padding: 15px 80px 30px 80px;
  gap: 15px;
  margin-top: 20px;
}

form input {
  padding: 8px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
form button {
  padding: 10px;
  margin: auto;
  font-size: 19px;
  border: none;
  border-bottom: #f9f6e8 1px solid;
  background-color: #050301;
  color: #f9f6e8;
}
form button:hover {
  border: #f9f6e8 1px solid;
  border-radius: 10px;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 900px) {
  body {
    background-color: #050301;
  }
  .container {
    max-width: 900px;
    padding: 20px;
  }
  header {
    max-width: 900px;
    padding: 20px;
  }
  .logo {
    width: 100px;
  }
  .heroes-identity {
    flex-direction: column;
    gap: 0px;
  }
  .heroes-identity p {
    text-align: left;
    line-height: 110%;
  }
  .details-id {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details-id button {
    width: 25%;
  }
  .banner {
    width: 100%;
  }
  .favorites-section {
    width: 100%;
    padding: 0px 40px;
  }
  .favorites-section h2 {
    text-align: center;
  }
  .fav-div {
    width: 50%;
  }
  .fav-images {
    width: 150px;
    height: 150px;
  }
  .bottom-nav a {
    font-size: 25px;
  }
}
@media only screen and (max-width: 600px) {
  header img {
    display: flex;
    justify-content: center;
  }
  header a {
    font-size: 20px;
    margin-right: 10px;
  }

  .hidden {
    display: block;
    padding: 5px;
  }
  .connexion {
    display: flex;
  }
  .connexion-links {
    display: none;
  }
  .banner {
    display: none;
  }
  .bottom-nav {
    flex-direction: column-reverse;
    gap: 30px;
    margin: auto;
    border-bottom: 2px solid #272542;
    padding-bottom: 6px;
  }
  .bottom-nav input {
    width: 90%;
  }
  nav {
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .heroes-identity {
    gap: 0px;
  }
  .bottom-nav a {
    font-size: 22px;
    color: #f9f6e8;
  }
  .fav-container {
    flex-direction: column;
    gap: 50px;
  }
  .favorites-section h1 {
    border: 1px solid #272542;
    padding: 30px 10px;
  }
  .heroes-container p {
    -webkit-line-clamp: 5;
  }
  .signup {
    width: 90%;
  }
}
footer {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}
footer a {
  font-size: 20px;
  color: #f9f6e8;
}
