#root {
  font-family: "Roboto", sans-serif;
  background-color: #050301;
  min-height: 100vh;
}
body {
  background-color: #050301;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 5px;
  background-color: #050301;
  border-radius: 20px;
}
a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #c0c0c0;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
}
p {
  font-family: "Roboto", sans-serif;
  color: #c0c0c0;
  line-height: 120%;
}
h1 {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  color: #c0c0c0;
}
h2 {
  color: #f9f6e8;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
header {
  padding: 20px 0px;
  background-color: #050301;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 30px;
}
header a:hover {
  color: #dbdbdb;
}
header input:focus {
  outline: none;
}
.logo {
  width: 200px;
}
header img {
  width: 100%;
}
.banner {
  border-radius: 10px;
  background-image: url("./assets/img/comics-pic.jpg");
  background-position: center;
  background-size: cover;
  width: 1300px;
  height: 300px;
  margin: auto;
}
nav {
  display: flex;
  gap: 20px;
  width: 50%;
  align-items: center;
}
.bottom-nav {
  display: flex;
  justify-content: space-between;
}
.bottom-nav input {
  width: 40%;
  height: 30px;
  padding: 5px 5px 5px 40px;
  background-color: rgba(39, 37, 66, 0.7);
  border: none;
  font-size: 20px;
  border-radius: 2px;
  color: #c0c0c0;
}
.hero-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.heart-plus-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f9f6e8;
  background-color: rgba(5, 3, 1, 0.9);
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}
.heroes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.heroes-container p {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  width: 240px;
}
.heroes-container h2 {
  margin: 10px 0px;
  text-align: center;
}
figure {
  width: 240px;
  height: 290px;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 30px;
}
.comics-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 50px;
}
.heroes-identity {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.heroes-identity h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.heroes-identity p {
  font-size: 18px;
  line-height: 130%;
  text-align: justify;
}
.id-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.id-picture img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: #911f1f 5px solid;
  object-fit: cover;
}
.details-id {
  width: 50%;
}
.details-id button {
  background-color: #050301;
  border: none;
  color: #016db5;
  border-bottom: #016db5 solid 1px;
  font-size: 18px;
  font-family: "Open Sans";
  padding: 3px;
  margin-top: 20px;
}
.pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 20px;
}
.empty-div {
  width: 30px;
}
